.ContainerProject{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    min-height: 75%;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 7px;
    margin-bottom: 1em;
    border: 2px solid gray;
    cursor: pointer;
    margin-bottom: 4em;
}
.logo{
    width: 40px;
    padding: 0;
    margin: 0;
    position: relative;
    top:-14px;
    left: -14px;
    
}
.hidden{
    opacity:0;
    filter: blur(5px); 
    transform: translateX(-100%) scale(0.5);
    transition: all 0.75s;
    
}
.hidden2{
    opacity:0;
    filter: blur(5px); 
    transform: translateX(100%) scale(0.5);
    transition: all 0.55s;
}
.show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
    
}
